apiVersion: v1
kind: Service
metadata:
  name: apisix-gateway
  labels:
    app: apisix-gateway
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 9080
      protocol: TCP
      name: http
    - port: 443
      targetPort: 9443
      protocol: TCP
      name: https
  selector:
    app: apisix-gateway
